main{
    background-color: var(--secundario);
}
button{
    border-color: var(--primario);
    // background-color: var(--terciario);
    color: white;
    
    &:hover{
        border-color: var(--primario);
        background-color: var(--terciario);
        transform: scale(1.05);
        transition: all 0.2s; 
    }
}

.tarjeta{
    background-color: var(--secundario);
    
    .caratula{
        aspect-ratio: 33/40;       
    }

    .portada{
        background-color: var(--primario);
        aspect-ratio: 20/26;
        height: 100%;
        width: 100%;
    }
}
